<template>
  <div class="home">
    <HelloWorld msg="Hojart's Fucking Haven, lets get it boyos and que lalas" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  }
};
</script>
