<template>
    <div class="subdub">
        <h1>The form!</h1>
        <SuperAwesome />
    </div>
</template>

<script>
import SuperAwesome from '@/components/SuperAwesome.vue';

    export default {
    name: "subscribedonate",
    components: {
        SuperAwesome
    }
}
</script>