<template>
    <section class="hero is-dark is-medium">
        <div class="hero-head">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            <router-link to="/">
                                <img src="./assets/HHLogo_white.svg" width="383" height="90" title="Hojart's Haven" alt="Hojart's Haven" />
                            </router-link>
                            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <router-link to="/" class="navbar-item" exact>Home</router-link>
                            <router-link to="/about" class="navbar-item">About</router-link>
                            <router-link to="/subscribedonate" class="navbar-item">Subscribe/Donate</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="app" class="section">
            <router-view />
        </div>
    </section>
</template>

<style>
html {
    background-color: #363636!important;
}

.navbar-item img {
    max-height: 5rem!important;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color:#0e7890;
}

#nav a.router-link-exact-active {
  color: #00ffff;
}
</style>
